@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,700|Quattrocento:700|Bricolage+Grotesque:300|Sedgwick+Ave+Display:400');
/**
* COLOR SCHEME
* Background:   #191919     rgb(25, 25, 25)
* Detail:       #005AA1     rgb(0, 90, 161)
* Main:         #003C6C     rgb(0, 60, 108)
* Text:         white       rgb(255, 255, 255)
* Rare:         #FF6EC7     rgb(255, 110, 199)
* Danger:       #BE2625     rgb(190, 38, 37)
* Sneaky:       #C0C0C0     rgb(192,192,192)
* Blood:        #AF111C     rgb(175, 17, 28)
* Sanity:       #4B0082     rgb(75, 0, 130)
* Energy:       #FFCC11     rgb(255, 204, 17)
* Exertion:     #FF6EC7     rgb(255, 110, 199)
**/

/* General text */
@font-face {
    font-family: 'Body';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/selawkl.ttf') format('truetype');
}


/* Titles */
@font-face {
    font-family: 'Titles';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/selawk.ttf') format('truetype');
}

/* Speech */
@font-face {
    font-family: 'Speech';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/selawk.ttf') format('truetype');
}

/* Fancy titles */
@font-face {
    font-family: 'Fancy Titles';
    font-style: normal;
    font-weight: 400;
    src: local('Cinzel Decorative Regular'), local('CinzelDecorative-Regular'),
        url('../fonts/cinzel-decorative-v5-latin-regular.woff2') format('woff2'),
        url('../fonts/cinzel-decorative-v5-latin-regular.woff') format('woff');
}

/* Interface */
@font-face {
    font-family: 'Interface';
    font-style: normal;
    font-weight: 400;
    src: local('Source Sans Pro Regular'), local('SourceSansPro-Regular'),
        url('../fonts/source-sans-pro-v10-latin-regular.woff2') format('woff2'),
        url('../fonts/source-sans-pro-v10-latin-regular.woff') format('woff');
}

/* Inputs - Monospace */
@font-face {
    font-family: 'MonoInput';
    font-style: normal;
    font-weight: 400;
    src: local('Ubuntu Mono'), local('UbuntuMono-Regular'),
        url('../fonts/ubuntu-mono-v6-latin-regular.woff2') format('woff2'),
        url('../fonts/ubuntu-mono-v6-latin-regular.woff') format('woff');
}

html{
    height: 100%;
}

body{
    font-family: "Body";
    margin: 0;
    min-height: 800px;
    min-width: 1200px;
    background-color: #191919;             /* Background */
}

@media (min-width: 1210px) and (min-height: 810px) {
    body {
        overflow: hidden;
    }
}
/* Main subtitles. */
.subtitle{
    font-size: 32px;
	text-align:left;
    margin-top: 20px;
    margin-bottom: 20px;
    text-shadow: 1px 1px 2px black; /* Text-shadow */
}

a{
    text-decoration: none;
    font-weight: bold;
}

a:link, a:visited{
    color: white;               /* Text */
}

p, h1, h2, h3, h4, h5, h6{
    margin: 0px;
}

button:focus, textarea:focus{
    outline: 0;
}

/* Speech-color. */
.blue{
    font-family: "Speech";
    color: #005AA1; /* Static */
}

/* Speech-color. */
.cyan{
    font-family: "Speech";
    color: #00A2E8; /* Static */
}

/* Speech-color. */
.greyishblue{
    font-family: "Speech";
    color: #5878A8; /* Static */
}

/* Speech-color. */
.pink{
    font-family: "Speech";
    color: #FF6EC7; /* Static */
}

/* Speech-color. */
.palepink{
    font-family: "Speech";
    color: #E4B1AB; /* Static */
}

/* Speech-color. */
.purple{
    font-family: "Speech";
    color: #AC3BE4; /* Static */
}

/* Speech-color. */
.yellow{
    font-family: "Speech";
    color: #C4BC1A; /* Static */
}

/* Speech-color. */
.brightred{
    font-family: "Speech";
    color: #BE2625; /* Static */
}

/* Speech-color. */
.red{
    font-family: "Speech";
    color: #AF111C; /* Static */
}

/* Speech-color. */
.darkred{
    font-family: "Speech";
    color: #800000; /* Static */
}

/* Speech-color. */
.pinkred{
    font-family: "Speech";
    color: #91273b; /* Static */
}

/* Speech-color. */
.green{
    font-family: "Speech";
    color: #61B329; /* Static */
}

/* Speech-color. */
.milgreen{
    font-family: "Speech";
    color: #669048; /* Static */
}

/* Speech-color. */
.lightgreen{
    font-family: "Speech";
    color: #9BDB9C; /* Static */
}

/* Speech-color. */
.white{
    font-family: "Speech";
    color: white; /* Static */
}

/* Speech-color. */
.black{
    font-family: "Speech";
    color: #191919; /* Static */
}

/* Speech-color. */
.brown{
    font-family: "Speech";
    color: #B47B2E; /* Static */
}

/* Speech-color. */
.orange{
    font-family: "Speech";
    color:  #FF6600; /* Static*/
}

/* Used in theme transitions. */
.themetransition{
    transition: background-color 2.0s ease, border-color 2.0s ease, color 2.0s ease !important;
}

/* Used in scenes and throughout the project. */
.bold{
    font-weight: bold;
}

/* Used in scenes and throughout the project. */
.italic {
    font-style: italic;
}

/* Used in scenes and throughout the project. */
.underline {
    text-decoration: underline;
}

/* Used in scenes and throughout the project. */
.strikethrough {
    text-decoration: line-through;
}

/* Used in scenes and throughout the project. */
.small {
    font-size: 12px;
}

/* Used in scenes and throughout the project. */
.big {
    font-size: 20px;
}

/* Used in scenes and throughout the project. */
.nomargin{
    margin-bottom: 0px !important;
}

/* Used in stat changes and scenes. */
.center{
    text-align: center !important;
}

/* Various parts that are not yet done. */
.todo{
    color: red;
    background-color: yellow;
}
/* Outer status tab healthbar. */
.healthbar {
    width: 794px;
    height: 40px;
    border-color: #191919;     /* Background */
    border-width: 3px;
    border-style: solid;
    border-radius: 43px 0px 20px 0px;
    overflow: hidden;

}
.healthbarnumber {
	color:white;
}
/* Inner status tab healthbar. */
.healthbarinner {
    height: 100%;
}
.healhbarcomment {
    width: 350px;
    float: left;
    text-align: left;
}

/* Status tab health. */
.health {
    background-color: #AF111C;      /* Blood */
}

/* Status tab Will. */
.will {
    background-color: #00A2E8;      /* Will */
}

.libido{
	background-color: #FF6EC7;
}
.xp{
	 background-color: #669048;      /* XP */
}
body {
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
    overflow: hidden;
	background-image:url("IMAGE/background1.png ");
	background-size: cover;
    background-repeat: no-repeat;
	min-height: 1600px;
	min-width: 2400px;
}

body.switched {
    transition: color 1s, background-color 1s;
}

h1 {
	color:white;
	text-align: center;
}
h2 {
    text-align: center;
    font-family: "Bricolage Grotesque", Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
}
h3 { font-family: "Sedgwick Ave Display";
	text-align: center;
}
h1 {
    font-size: 30pt;
    margin-bottom: 10px;
}

h2 {
    font-size: 14pt;
    font-style: italic;
    font-family: sans-serif;
    font-weight: lighter;
    color: #BBB;
}

.header {
    padding-top: 3em;
    padding-bottom: 3em;
	
}
.title{
	z-index:1;
    display:block;
	position: fixed;
	font-family: Sedgwick Ave Display;
    font-size: 45px;
    margin-bottom: 25px;
	color:white;
	left: 320px;
	top: 175px;
text-shadow: 1px 1px 2px black;}

/* Half of the main window. */
.half{
    width: 435px;
    float: left;
	
}

/* Left half of the main window, with right-padding. */
.lefthalf{
    width: 396px;
    float: left;
    padding-right: 4px;
}

/* Right half of the main window, with left-padding.*/
.righthalf{
    width: 396px;
    float: right;
    padding-left: 4px;
}
/* Stat name of the attributes on the stats tab. */
.statname {
    width: 80px;
    float: left;
	color:white;
}

/* Stat number of the attributes on the stats tab. */
.statnumber {
    width: 60px;
    text-align: center;
    float: left;
	color:white;
}

/* Stat comment of the attributes on the stats tab. */
.statcomment {
    width: 260px;
    float: left;
}

.statsTitle{
	font-family: "Sedgwick Ave Display";
    font-size: 50px;
    text-align: center;
    margin-bottom: 25px;
    text-shadow: 1px 1px 2px black;
	color:white;
}
/*
  Built-in class:
    # author: Name
*/
.byline {
    font-style: italic;
}

/* Image logo. */
.logo{
    z-index: 2;
    width: 169px;
    height: 102px;
    position: fixed;
    top: 75px;
    left: 366px;
}


.written-in-ink {

    font-size: 9pt;
    font-family: sans-serif;
    text-align: center;
    font-weight: 700;
    position: relative;
    display: block;
    width: 110%;
    background: #557D8B;
    transition: color 0.6s, background 0.6s;
    margin: 0;
    padding-top: 6px;
    padding-bottom: 20px;
    height: 14px;
}


/* 
  Enables <iframe> support work on itch.io when using mobile iOS
*/
.outerContainer {
    position: fixed;
    display: block;
    margin: 0;
    padding: 0;
    -webkit-overflow-scrolling: touch;
    overflow-x: hidden;
    height: 90%;
    width: 75%;
    top: 50px;
    left: 0;
    background:#557D8B;
    background-size: cover;
    background-repeat: no-repeat;
	left: 250px;
}

@media screen and (max-width: 980px) {
    .outerContainer {
        margin-top: 44px;
        background-size: cover;
        background-repeat: no-repeat;
    }
}


/* The scrollbar of the main container. */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #2F444C; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #557D8B; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #557D8B;
}  
.container {

	position: relative;
    display: block;
    max-width: 1200px;
	height:700px;
	margin-left: 400px;
    padding: 20px;
    padding-top: 4em;
	padding-bottom: 4em;
    background: #2F444C;

}

.switched .container {
    transition: background-color 1s;
}

p {
    font-size: 14pt;
    color: white;
    line-height: 1.7em;
    font-weight: lighter;
	padding-left:64px;
	padding-right:64px;
}

a {
    font-weight: 700;
    color: white;
    font-family: sans-serif;
    transition: color 0.6s;
    text-decoration: none;
	display: block;
}

.uibutton:hover{
    border-width: 2px; 
    border-color: black;      /* Background */
    border-style: solid;
}

.warningtext{
    color: #BE2625;             /* Danger */
}
.sneakytext{
    color: #C0C0C0;             /* Sneaky */ 
}
/* Everything left of the main view. */
.leftbar{
    width: 300px;
    height: 100%;
    position: fixed;
    left: 309px;
    top: 183px;
    user-select: none;
}

/* Panel containing logo image and logo text. */
.logopanel{
    width: 300px;
    height: 180px;
	left:300px;
	top:40px;
}


/* Text to the right of logo. */
.logotext{
    width: 200px;
    height: 80px;
    position: absolute;
    top: 20px;
    left: 100px;
    text-align: center;
    vertical-align: middle;
    font-size: 30px;
    font-family: "Sedgwick Ave Display";
	text:
}

/* Panel containing tab buttons. */
.tabpanel{
    width: 300px;
    height: 532px;
	top: 236px;
    margin-top: 5px;
    text-align: center;
	position: fixed;
	bottom: 150px;
	left:308px;
}	

/* Tab button. */
.tab{
    width: 300px;
    height: 64px;
    margin-bottom: 15px;
    border: 0px;
    font-size: 30px;
    color: white;               /* Text */
    border-radius: 30px 30px 30px 30px;
    background-color: #2F444C;  /* Main */
    transition: background-color 0.6s ease;
    position: relative; /* Enables blinking */
	bottom:0px;
    overflow: hidden;
}

/* Tab button onhover. */
.tab:hover{
    border-width: 4px 0px 3px 0px;
    border-color: #218374;        /* Text */
    border-style: solid;
}


strong {
    color: black;
    font-weight: bold;
}

img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

.container .hide {
    opacity: 0.0;
}

.container .invisible {
    display: none;
}

.container>* {
    opacity: 1.0;
    transition: opacity 1.0s;
}
.nomargin{
    margin-bottom: 0px !important;
}
/*
  Class applied to all choices
  (Will always appear inside <p> element by default.)
*/
.choice {
    position: relative;
	width: 400px;
	text-align: center;
    line-height: 1.7em;
	margin: 12px 15px;
	font-weight: normal;
	font-size: 1rem;
	background: #557D8B;
	color: white;
	padding: 15px;
	left:30px;
	
}

/* 
  Class applied to first choice
*/
:not(.choice)+.choice {

}
.choice:hover{
	border-style: solid;
	border-width: 3px;
	border-color: #218374;

	background:#749BAA;
	
}


/*
  Class applied to choice links
*/
.choice a {
    font-size: 15pt;
}

/* 
  Built-in class:
    The End # CLASS: end
*/
.end {
    text-align: center;
    font-weight: bold;
    color: black;
    padding-top: 20px;
    padding-bottom: 20px;
}
/* Button panel containing the four buttons at the bottom left. */
.buttonpanel{
    width: 300px;
    height: 120px;
    margin-top: 15px;
    text-align: center;
	left: 304px;
	top: 769px;
	bottom: 0px;
	position: fixed;
}
/* One of the four buttons at the bottom left. */
.uibutton{
    width: 135px;
    height: 35px;
    margin-bottom: 5px;
    border-radius: 30px;
    background-color: #2F444C;  /* Main */
    color: white;               /* Text */
    border: 0px;
    font-family: 'Interface';
    font-size: 16px;
    cursor: pointer;
	bottom:0px;
	left:145px;
	position: sticky;
}

#controls {
    z-index: 4;
    font-size: 9pt;
    text-align: center;
    padding-bottom: 6px;
    position: fixed;
    right: 14px;
    top: 0px;
    user-select: none;
    background: #557D8B;
    transition: color 0.6s, background 0.6s;
}

#controls [disabled] {
    color: #ccc;
}

#controls>*:not(:last-child):after {
    content: " | ";
}

@media screen and (max-width: 980px) {
    #controls {
        z-index: 2;
        padding-top: 24px;
        top: 0;
        left: 0;
        right: 0;
    }
}