@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,700|Quattrocento:700|Bricolage+Grotesque:300');

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
    background: #557D8B;
    overflow: hidden;
}

body.switched {
    transition: color 0.6s, background-color 0.6s;
}

h1 {
	color:white;
	text-align: center;
}
h2 {
    text-align: center;
    font-family: "Bricolage Grotesque", Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 30pt;
    margin-bottom: 10px;
}

h2 {
    font-size: 14pt;
    font-style: italic;
    font-family: sans-serif;
    font-weight: lighter;
    color: #BBB;
}

.header {
    padding-top: 3em;
    padding-bottom: 3em;
}

/*
  Built-in class:
    # author: Name
*/
.byline {
    font-style: italic;
}

/* Image logo. */
.logo{
    z-index: 2;
    width: 225px;
    height: 135px;
    position: fixed;
    top: 10px;
    left: 60px;
}
.written-in-ink {
    z-index: 3;
	left: 62px;
    font-size: 9pt;
    font-family: sans-serif;
    text-align: center;
    font-weight: 700;
    position: relative;
    display: block;
    width: 100%;
    background: #557D8B;
    transition: color 0.6s, background 0.6s;
    margin: 0;
    padding-top: 6px;
    padding-bottom: 20px;
    height: 14px;
}

/* 
  Enables <iframe> support work on itch.io when using mobile iOS
*/
.outerContainer {
    position: absolute;
    display: block;
    margin: 0;
    padding: 0;
    -webkit-overflow-scrolling: touch;
    overflow: scroll;
    overflow-x: hidden;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    margin-top: 24px;
    background-size: cover;
    background-repeat: no-repeat;
}

@media screen and (max-width: 980px) {
    .outerContainer {
        margin-top: 44px;
        background-size: cover;
        background-repeat: no-repeat;
    }
}

.container {
	position: absolute;
    display: block;
    max-width: 1200px;
	height:800px;
	left: 400px;
    margin: 0 auto;
    padding: 20px;
    padding-top: 4em;
	padding-bottom: 4em;
    background: #2F444C;

}

.switched .container {
    transition: background-color 1s;
}

p {
    font-size: 16pt;
    color: white;
    line-height: 1.7em;
    font-weight: lighter;
	padding-left:64px;
	padding-right:64px;
}

a {
    font-weight: 700;
    color: white;
    font-family: sans-serif;
    transition: color 0.6s;
    text-decoration: none;
}

.uibutton:hover{
    border-width: 2px; 
    border-color: black;      /* Background */
    border-style: solid;
}



/* Everything left of the main view. */
.leftbar{
    width: 300px;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    user-select: none;
}

/* Panel containing logo image and logo text. */
.logopanel{
    width: 300px;
    height: 180px;
}


/* Text to the right of logo. */
.logotext{
    width: 200px;
    height: 80px;
    position: absolute;
    top: 20px;
    left: 100px;
    text-align: center;
    vertical-align: middle;
    font-size: 30px;
    font-family: "Fancy Titles";
}

/* Panel containing tab buttons. */
.tabpanel{
    width: 300px;
    height: 480px;
    margin-top: 5px;
    text-align: center;
	position:fixed;
}	

/* Tab button. */
.tab{
    width: 300px;
    height: 64px;
    margin-bottom: 15px;
    border: 0px;
    font-size: 30px;
    color: white;               /* Text */
    border-radius: 30px 30px 30px 30px;
    background-color: #2F444C;  /* Main */
    transition: background-color 0.6s ease;
    position: relative; /* Enables blinking */
	left: 40px;
    overflow: hidden;
}

/* Tab button onhover. */
.tab:hover{
    border-width: 4px 0px 3px 0px;
    border-color: white;        /* Text */
    border-style: solid;
}


strong {
    color: black;
    font-weight: bold;
}

img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

.container .hide {
    opacity: 0.0;
}

.container .invisible {
    display: none;
}

.container>* {
    opacity: 1.0;
    transition: opacity 1.0s;
}

/*
  Class applied to all choices
  (Will always appear inside <p> element by default.)
*/
.choice {
    position: relative;
	width: 400px;
	text-align: center;
    line-height: 1.7em;
	margin: 12px 15px;
	font-weight: normal;
	font-size: 1rem;
	background: #557D8B;
	color: white;
	padding: 15px;
	left:125px;
	
}

/* 
  Class applied to first choice
*/
:not(.choice)+.choice {

}
.choice:hover{
	border-style: solid;
	border-width: 3px;
	border-color: #218374;

	background:#749BAA;
	
}


/*
  Class applied to choice links
*/
.choice a {
    font-size: 15pt;
}

/* 
  Built-in class:
    The End # CLASS: end
*/
.end {
    text-align: center;
    font-weight: bold;
    color: black;
    padding-top: 20px;
    padding-bottom: 20px;
}
/* Button panel containing the four buttons at the bottom left. */
.buttonpanel{
    width: 300px;
    height: 120px;
    margin-top: 15px;
    text-align: center;
	left: 32px;
}
/* One of the four buttons at the bottom left. */
.uibutton{
    width: 135px;
    height: 35px;
    margin-bottom: 5px;
    border-radius: 30px;
    background-color: #2F444C;  /* Main */
    color: white;               /* Text */
    border: 0px;
    font-family: 'Interface';
    font-size: 16px;
    cursor: pointer;
	left: 40px;
	top: 550px;
	position:relative;
}

#controls {
    z-index: 4;
    font-size: 9pt;
    text-align: center;
    padding-bottom: 6px;
    position: fixed;
    right: 14px;
    top: 0px;
    user-select: none;
    background: #557D8B;
    transition: color 0.6s, background 0.6s;
}

#controls [disabled] {
    color: #ccc;
}

#controls>*:not(:last-child):after {
    content: " | ";
}

@media screen and (max-width: 980px) {
    #controls {
        z-index: 2;
        padding-top: 24px;
        top: 0;
        left: 0;
        right: 0;
    }
}

/* 
  Dark Theme (Added in Inky 0.10.0)
    # theme: dark
*/

body.dark {
    background: black;
    color: white;
}

.dark h2 {
    color: #666;
}

.dark .container {
    background: black;
}

.dark .written-in-ink {
    background: black;
}

.dark a {
    color: #cc8f1a;
    transition: color 0.6s;
}

.dark a:hover {
    color: white;
}

.dark strong {
    color: white;
}

.dark #controls [disabled] {
    color: #444;
}

.dark .end {
    color: white;
}

.dark #controls {
    background: black;
}
.dark choice {
    text-align: center;
    line-height: 1.7em;
	border: 1px solid white;
	border-radius: 8px;
	margin: 10px 15px;
	font-weight: normal;
	font-size: 1rem;
	background: transparent;
	color: white;
	padding: 15px;
